#top_container
{
	background-color: red;

}

.icon
{
	width: 5%;
	/*float: right;*/
}

.test
{
	width: 350px;
}

.badge_float
{
	float: right;
	margin-right: 2%;
}

.btn_buy_right
{
	float: right;
	margin-right: 2%;
}

.btn_buy_left
{
	float: left;
	margin-left: 2%;
}